@import "tailwindcss";

@theme {
  --color-primary: #2D5A27;
  --color-secondary: #A7C957;
  --color-community: #BC4749;
  --color-error: #8B2635;
  --color-background: #F2E8CF;
  --color-text: #1B3022;
  --color-border: #BDC4A7;
}

@layer base {
  body {
    @apply bg-background text-text font-sans antialiased;
  }
}
